php_value register_globals 0 
php_flag magic_quotes_gpc 0
php_flag magic_quotes_runtime 0

RewriteEngine on 

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?route=$1 [L,QSA]

AddDefaultCharset UTF-8
php_value display_errors 1
<IfModule mod_expires.c>
   ExpiresActive On
</IfModule>

AddType text/cache-manifest .manifest
AddType video/ogg .ogv
AddType video/mp4 .mp4
AddType video/webm .webm